<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<welcome-file-lise>
    <welcome-file>hello.jsp</welcome-file>
</welcome-file-lise>
    <servlet>
        <servlet-name>testJSP</servlet-name>
        <jsp-file>/WEB-INF/jsp/test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>testJSP</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>testMyTag</servlet-name>
        <jsp-file>/WEB-INF/jsp/tagTest/helloWorldTag.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>testMyTag</servlet-name>
        <url-pattern>/testMyTag</url-pattern>
    </servlet-mapping>
</web-app>